<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.kaurihealth.kaurihealth">

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 基础模块 END -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- 主页面 -->
        <activity
            android:name=".main_v.MainActivity"
            android:screenOrientation="portrait"/>
        <!-- 登录 -->
        <activity
            android:name=".login_v.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.activity.PatientRequestInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- 欢迎 -->
        <activity
            android:name=".welcome_v.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Full.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--注册-->
        <activity
            android:name=".register_v.RegisterActivity"
            android:screenOrientation="portrait"/>
        <!--长期监测指标-->
        <activity
            android:name=".patient_v.LongHealthyStandardActivity"
            android:screenOrientation="portrait"/>
        <!--添加监测指标-->
        <activity
            android:name=".patient_v.AddMonitorIndexActivity"
            android:screenOrientation="portrait"/>
        <!-- 医疗记录 -->
        <activity
            android:name=".common.activity.MedicaHistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- 添加临床诊疗 门诊记录 -->
        <activity
            android:name=".common.activity.AddOutpatientRecordActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".login.activity.FindpasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".resetpassword_v.ResetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".register_v.AgreementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.ServiceSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.PersoninfoNewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.NameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.CertificationNumberActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.SelectProfessionalTitleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.SelectDateOfBirthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.StudyExperienceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.PracticeFieldActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.MyAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.MyRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.HospitalNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.ExclusiveDoctorSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.RemoteConsultSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".home.activity.OpenAnAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".home.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".home.activity.AcceptReasonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".home.activity.RejectReasonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.SetPassWordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.ServiceAgreementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.SetupprotocolActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".common.activity.PrescriptionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".common.activity.PrescriptionImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".common.activity.AddPrescriptionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".common.activity.AddOnlineConsultationRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".common.activity.AddRemoteConsultationRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".patientwithdoctor.activity.ExpertsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".patientwithdoctor.activity.AddHealothyRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".patientwithdoctor.activity.PatientRelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".patientwithdoctor.activity.HealthyRecordNewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--注册个人信息-->
        <activity
            android:name=".register_v.RegisterPersonInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".chat.activity.SingleChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- Image Selector Entry -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".mine.activity.GraduateSchoolActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".clinical.activity.ClinicalListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".clinical_v.DynamicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".common.activity.EditCommonMedicalRecordActivityNew"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".patientwithdoctor.activity.DepartmentLevel1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".patientwithdoctor.activity.DepartmentLevel2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".common.activity.EditLabtestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".common.activity.EditOutpatientActivityNew"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".common.activity.EditRemoteActivityNew"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".common.activity.EditOnlineConsultActivityNew"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".common.activity.AddLabTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="com.example.commonlibrary.widget.gallery.activity.GalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".clinical_v.CommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".clinical_v.activity.LiteratureCommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".clinical.activity.MyClinicalListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".clinical.activity.ClinicalSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.WithdrawCashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.AddBankCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".common.activity.AddCommonMedicalRecordActivityNew"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine.activity.AccountDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".chat.MesFragmentNew"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".home.activity.SearchActivityNew"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".home.activity.VerificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".findpassword_v.FindPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--患者信息-->
        <activity
            android:name=".patient_v.PatientInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name=".open_an_account_v.OpenAnAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.SetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.MyAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.DoctorDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.PersonalDoctorServiceSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.RemoteDoctorServiceSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.WithdrawActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.ServiceSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.SelectTitleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.EnterCertificationNumberActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.EnterGraduateSchoolActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.EnterPracticeFieldActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.EnterStudyExperienceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".mine_v.EnterHospitalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".department_v.SelectDepartmentLevel1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".department_v.SelectDepartmentLevel2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
    </application>

</manifest>